<h1>Table of Contents</h1>

<ul>
  <% @courses.each do |course| %>
    <div class="row">
      <div class="span6">
        <div class="well">
          <%= course.name %>
          <% course.lessons.each do |lesson| %>
            <ul>
              <li><%= lesson.name %></li>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</ul>
